<!DOCTYPE HTML>
<html>

	<head>

		<title>Test'em</title>

		<link rel="stylesheet" href="/testem/mocha.css">
		{{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}

		<script src="/testem/mocha.js"></script>
		<script src="/testem.js"></script>
		<script src="/node_modules/should/should.min.js"></script>
		<script>mocha.setup('bdd')</script>

		<script src='../babelise.js'></script>

		<script type='module'>
			var files = [];
			{{#serve_files}}
			files.push('{{{src}}}');
			{{/serve_files}}

			files = files.map(function(filename) {
				// Strip 'test/' prefix and '.js' suffix from filename
				return filename.substring(5, filename.length - 3);
			});

			System.import.apply(System, files).then(function() {
				mocha.run();
			});

		</script>

	</head>

	<body>
		<div id="mocha"></div>

	</body>

</html>
